body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(black,red, white);
    background-size: 800% 800%;
    overflow: auto;
    overflow-x: hidden;
  }
  
  * {
    box-sizing: border-box;
    font-synthesis: none!important;
    text-rendering: optimizeLegibility!important;
    font-smooth: auto!important;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
    -webkit-text-size-adjust: 100%!important;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar {
      scrollbar-color: black #910000;
      height: 7px;
      width: 7px;
      background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(to top, black 0%, #910000 100%);
    background-image: linear-gradient(to top, black 0%, #910000 100%);
    opacity: 0.5!important;
  }

  h2 {
    font-family: Open Sans;
  }

  .form-control {
    background-color:rgba(0, 0, 0, 0);
  }

  .form-control:focus {
    background-color:rgba(0, 0, 0, 0);
  }

  .container {
    width: 100%;
    height: 100%;
  }

  button {
    position: relative;
  }

  .toast {
    position: relative;
    scale: 1.1;
    user-select: none;
  }

  button, a, p {
    position: relative;
  }

  .login100-form-btn {
    width: 250px!important;
  }

  .card { background-color: Transparent!important; }

  .card-body { scale: 1.1; }

  .btn {
    background: #000000 !important;
    color: #fff !important;
    font-family: Montserrat-Bold !important;
  }

  .btn:hover {
    background: #fff !important;
    color: #000000 !important;
  }

  .description { 
    font-size: 0.9rem !important;
    width: 225px !important;
    border-radius: 25px !important;
  }

  #floating { 
      animation-name: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
  }
  
  @keyframes floating {
      0% { transform: translate(0,  0px); }
      50%  { transform: translate(0, 15px); }
      100%   { transform: translate(0, -0px); }   
  }

  #main-title, .fa-solid, .btn, .navbar-toggler-icon, a, .dropdown-item {
    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -moz-transition: all 0.4s !important;
    transition: all 0.4s !important;
  }

  .navbar {
    margin-bottom: 4rem!important;
  }

  .nav-link:hover > .fa-solid {
    color:black!important;
  }
  
  .nav-link:hover {
    font-size: 1.5em!important;
  }
  
  .nav-link[aria-expanded="true"] {
    font-size: 1.5em!important; 
  }

  .nav-link[aria-expanded="true"] > .fa-solid {
    color: black!important;
  }

  #main-title {
    font-family: 'Quicksand', sans-serif;
  }

  #main-title:hover {
    color: black;
  }

  ::selection {
    color: white;
    background: black;
  }

  .navbar-toggler {
    background: transparent !important;
    border: none;
    padding: 0!important;
  }

  .modal-content {
    background: #000000!important;
    color: rgb(185, 185, 185);
    border-radius: 15px!important
  }

  img {
    box-shadow: 0px 0px 25px 10px black;
  }

  .dropdown-menu {
    background: transparent!important;
    border: none!important;
    backdrop-filter: blur(2rem);
    border-radius: 15px!important;
  }

  .dropdown-item:focus, .dropdown-item:hover {
    color: black !important;
    font-size: 120%!important;
    margin-left: 1.1em!important;

  }

  .dropdown-item:focus, .dropdown-item:hover > .fa-location-crosshairs {
    color: black !important;
  }

  .dropdown-item.active, .dropdown-item:active {
    color: #fff!important;
    text-decoration: none;
    background-color: #fff!important;
  }


  .dropdown-item {
    border-radius: 15px!important;
    color: #fff!important;
  }

  .fa-solid {
    transition: filter 300ms!important;
  }

  .toast {
    position: relative;
    scale: 1.1;
    margin-bottom: 2.5em;
  }

  .btn-close {
    opacity: 1;
    filter: invert(92%) sepia(91%) saturate(26%) hue-rotate(201deg) brightness(108%) contrast(100%);
  }

  .btn-close:hover {
    filter: invert(0%) sepia(5%) saturate(18%) hue-rotate(192deg) brightness(94%) contrast(106%);
  }

  .btn-close:focus {
    outline: 0;
    box-shadow: none!important;
    filter: invert(0%) sepia(5%) saturate(18%) hue-rotate(192deg) brightness(94%) contrast(106%);
  }

  .error_occured {
    scale: 4;
  }

  .link_to_video {
    color: #78d4fc;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .link_to_video:hover {
    color: #fff;
  }

  .full_site_container {
    height: 100%!important;
  }

  @media screen and (min-width: 2048px) {
    .first-container, .second-container {
      zoom: 175%!important;
    }

    .nav-link {
      font-size: 2rem!important;
    }

    #main-title {
      font-size: 4rem!important;
    }

    .nav-link:hover {
      font-size: 2.5em!important;
    }
    
    .nav-link[aria-expanded="true"] {
      font-size: 2.5em!important; 
    }

    .dropdown-item {
      font-size: 150%!important;
    }
    
    .dropdown-item:focus, .dropdown-item:hover {
      font-size: 175%!important;
    }

    .dropdown-menu {
      margin-top: 3.2em!important;
      width: 300%!important
    }

    .navbar {
      zoom: 95%;
    }
  }

  @media screen and (min-width: 1200px) {
    .first-container, .second-container {
      zoom: 125%;
    }

    .cut_width {
        width: 50%!important;
    }

    .cut_more_width {
      width: 35%!important;
    }

    .navbar {
      margin-top: 2.3em;
      height: 0;   
      zoom: 95%;
    }
  }


  @media screen and (min-width: 997px) and (max-width: 2048px){
    .nav-link {
      font-size: 1.25rem!important;
    }

    #main-title {
      font-size: 2.5rem!important;
    }

    .nav-item {
      max-height: 0;
      margin-bottom: 3.1em;
    }
  
    .dropdown-menu {
      margin-top: 3.2em!important;
      width: 300%!important
    }
  }


  @media screen and (max-width: 997px) {
    .nav-link {
      font-size: 1.5rem!important;
    }

    ::-webkit-scrollbar { display: none; }

    .cut_more_width {
      width: 55%!important;
    }
  }








