body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(black,red, white);
    background-size: 800% 800%;
    overflow: auto;
  }
  
  * {
    box-sizing: border-box;
    font-synthesis: none!important;
    text-rendering: optimizeLegibility!important;
    font-smooth: auto!important;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
    -webkit-text-size-adjust: 100%!important;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar {
      scrollbar-color: black #910000;
      height: 7px;
      width: 7px;
      background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(to top, black 0%, #910000 100%);
    background-image: linear-gradient(to top, black 0%, #910000 100%);
    opacity: 0.5!important;
  }

  h2 {
    font-family: Open Sans;
  }

  .form-control {
    background-color:rgba(0, 0, 0, 0);
  }

  .form-control:focus {
    background-color:rgba(0, 0, 0, 0);
  }

  .container {
    width: 100%;
    height: 100%;
  }

  button {
    position: relative;
  }

  @media screen and (min-width: 2048px) {
    .first-container, .second-container {
      zoom: 175%;
    }

    .nav-link {
      font-size: 2rem!important;
    }
    
    #main-title {
      font-size: 4rem!important;
    }
  }

  @media screen and (min-width: 1200px) {
    #main_form, #result_form {
        width: 50%;
    }  
  }

  @media screen and (min-width: 997px) and (max-width: 2048px){
    .nav-link {
      font-size: 1.25rem!important;
    }

    #main-title {
      font-size: 2.5rem!important;
    }
  }

  @media screen and (max-width: 997px) {
    .nav-link {
      font-size: 1.5rem!important;
    }
  }

  .toast {
    position: relative;
    scale: 1.1;
    user-select: none;
  }

  button, a, h2, img, audio {
    position: relative;
  }

  .login100-form-btn {
    width: 200px!important;
  }

  video {
    z-index: 1;
    max-width: 640px;
  }

  img {
    width: 200px;
    height: 100px;
  }

  .nav-link:hover > .fa-solid {
    color:#000000;
  }

  .navbar-brand, .fa-solid, .navbar-toggler-icon {
    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -moz-transition: all 0.4s !important;
    transition: all 0.4s !important;
  }

  .navbar-brand:hover {
    color: #000000;
  }

  #main-title {
    font-family: 'Quicksand', sans-serif;
  }

  #main-title:hover {
    color: #000000;
  }

  ::selection {
    color: white;
    background: black;
  }

  #navbar-toggler {
      background: transparent !important;
      border: none;
      padding: 0!important;
  }

  .dropdown-menu {
    background: transparent!important;
    border: none!important;
  }

  .dropdown-item.text-light:focus, .dropdown-item.text-light:hover {
    color: gray !important;
  }


  .dropdown-item.text-light:active {
    color: #fff!important;
  }

  .dropdown-item.active, .dropdown-item:active {
    color: #fff!important;
    text-decoration: none;
    background-color: #fff!important;
  }


  .dropdown-item {
    border-radius: 15px!important;
  }

