.container {
    zoom: 1.1;
    height: 100%;
}

.form-control {
    background-color: black !important;
    border: 0.10em solid #fff !important;
    border-color: white !important;
    color: white !important;
    border-radius: 10px !important;
    text-align: center;
    font-size: 1.2rem !important;
    overflow: hidden !important;
    max-width: 90%;
    width: 35rem !important;
    margin-top: 10px;
    max-width: 100% !important;
    zoom: 1.1;
}
  
.form-control:focus {
    border-color: #f5696e !important;
    box-shadow: 0px 0px 15px 1px #f5696e;
    text-align: left;
}
  
.form-control:not(:placeholder-shown) {
    border-color: #7cf569 !important;
    box-shadow: 0px 0px 15px 1px #7cf569;
}

.pointing-to-mail {
    font-family: "Quicksand", sans-serif;
}

.go_back_container {
    padding-top: 5em;
    margin-bottom: 5em;
}

#main_form {
    margin-top: 1em;
}

.sp_url {
    color: #78d4fc;
    word-break: break-word;
}

.sp_url:hover {
    color: white;
}

.sp_login {
    zoom: 1.2;
    border-radius: 50px !important;
    animation: borderAnimation 6s infinite linear !important;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #fff !important;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-color: black;
}

.sp_login:hover {
    transform: translateY(-5%);
    animation: borderAnimationHover 6s infinite linear !important;
}

.fa-spotify:not(.sp_login .fa-spotify, .dropdown-item .fa-spotify) {
    zoom: 1.5;
}

.zoom {
    zoom: 1.1;
}

.fa-chevron-down {
    transform: translate(0, -10px);

    animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.pw_reset {
    width: 50rem;
    max-width: 100%;
    padding-top: 5em;
}

@keyframes borderAnimation {
    100%,0% {
      box-shadow: 0 0 0.15em 0.03em rgb(93, 184, 3);
    }
    25% {
      box-shadow: 0 0 0.15em 0.2em rgb(0, 177, 0);
    }
    50% {
      box-shadow: 0 0 0.15em 0.03em rgb(0, 139, 69);
    }
    75% {
      box-shadow: 0 0 0.15em 0.2em rgb(0, 85, 43);
    }
}

@keyframes borderAnimationHover {
    100%,0% {
      box-shadow: 0 0 0.7em 0.05em rgb(93, 184, 3);
    }
    25% {
      box-shadow: 0 0 0.7em 0.3em rgb(0, 177, 0);
    }
    50% {
      box-shadow: 0 0 0.7em 0.05em rgb(0, 139, 69);
    }
    75% {
      box-shadow: 0 0 0.7em 0.3em rgb(0, 85, 43);
    }
}

@keyframes floating {
    0% {
        transform: translate(0, -10px);
    }
    50% {
        transform: translate(0, 0px);
    }
    100% {
        transform: translate(0, -10px);
    }
}