.modal::-webkit-scrollbar {
  display: none !important;
}

.text_for_modal {
  max-width: 100% !important;
  word-break: break-word;
}

.modal-title {
  max-width: 89%;
}

.container {
  width: 100%;
  height: 100%;
}

.login100-form-btn {
  width: 250px !important;
}

.card {
  background-color: Transparent !important;
}

.card-body {
  scale: 1.1;
}

.dropdown-toggle.show {
  color: white!important;
  box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 0.5) !important;
  transform: translateY(0%);
}

.description {
  font-size: 0.9rem !important;
  width: 225px !important;
  border-radius: 25px !important;
}

#floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.modal-content {
  background: #000000 !important;
  color: rgb(185, 185, 185);
  border-radius: 15px !important;
  border: 0.15em solid white!important;
}

img,
.ratio iframe {
  box-shadow: 0px 0px 10px 2px red;
}

.card,
.card .row {
  width: 100%;
}

.error_occured {
  scale: 4;
}

.link_to_video {
  color: #78d4fc;
  cursor: pointer;
  text-decoration: underline;
}

.link_to_video:hover {
  color: #fff;
}

.full_site_container {
  height: 100% !important;
}

.streams_data {
  width: 30rem !important;
  border-radius: 25px !important;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.2rem !important;
}

.streams_menu {
  background-color: black !important;
  box-shadow: 0px -5px 10px 1px rgba(255, 0, 0, 0.5) !important;

}

.streams_menu a {
  font-size: 1.2rem !important;
}

@media screen and (max-width: 992px) {
  .top_button {
    margin-top: 1em;
  }

  .streams_data {
    width: 15rem !important;
  }
}
