{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube helper</title>

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    
    <!--===============================================================================================-->
      <script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>
    <!--===============================================================================================-->
      <script src="https://kit.fontawesome.com/5cd37e3dba.js" crossorigin="anonymous"></script>
    <!--===============================================================================================-->
      <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <!--===============================================================================================-->
      <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!--===============================================================================================-->	
      <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
      <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
      <script src="{% static 'js/DragToScroll.js' %}"></script>
    <!--===============================================================================================-->
      
    
    
    <!--===============================================================================================-->
      <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!--===============================================================================================-->
      <link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <!--===============================================================================================-->
      <link rel="stylesheet" href="{% static 'css/template_comments_style.css' %}">
    <!--===============================================================================================-->   
      <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->

</head>
<body>
    

<!-- Navbar start -->
{% url 'comments' as the_url %}
{% include "navbar.html" with sites_context=sites_context active_site_name="YT comments" active_site_url=the_url %}
<!-- Navbar end -->


{% if video_id %}
  <!-- Main container start -->
  <div class="d-flex main-container px-4 pt-3 flex-column">
    

    <!-- Comments section start -->
    <section class="d-flex container-fluid flex-column comments_container p-0">
      

      <!-- Comments container start-->
      <section class="d-flex flex-column comments_insides container-fluid p-0">


        <div class="position-relative">
          <!-- Comments nav start-->
          <nav class="d-flex flex-grow-0 navbar navbar-expand-xxl w-100 comments_navbar">
            <div class="container-fluid comments_navbar_container">
                <h2 class="navbar-brand text-light fs-6 d-xxl-none">Search options</h2>
                <button class="navbar-toggler comments_navbar_toggler ms-0 me-lg-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCommentsSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarCommentsSupportedContent">
                <ul class="navbar-nav comments_navbar_ul gap-3 mb-sm-0">
                
                  <form method="POST" class=" hidden_form" id="hidden_form">
                    {% csrf_token %}
                    <input class="d-none" type="hidden" name="order" value="{{ order }}" id="orderInput">
                    <input class="d-none" type="hidden" name="maxResults" value={{ maxResults }} id="maxResultsInput">
                    <input class="d-none" type="hidden" name="previousPageID" value={{ pageID }} id="previousPageIdInput">
                    <input class="d-none" type="hidden" name="pageID" value={{ pageID }} id="pageIdInput">
                    <input class="d-none" type="hidden" name="video_id" value="{{ video_id }}" id="video_idInput">
                  


                    <li class="nav-item">
                      <input class="form-control text-light p-1 mt-2 px-2" type="search" name="searchInput" value="{{ searchInput }}" placeholder="Search" aria-label="Search">
                    </li>

                  </form>

                    <li class="nav-item nav_select d-flex justify-content-center gap-2">
                      <h2 class="navbar-brand text-light fs-6 mt-xxl-2 me-0"> Results per page:</h2>

                      <select class="form-select" id="maxResults" aria-label="Default select example">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </li>


                    <li class="nav-item dropdown text-center">
                      <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown2" role="button" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-arrow-up-wide-short fs-6"></i></i>&nbsp Sort by
                      </a>
                      
                      <div class="dropdown-menu sort_menu gap-xxl-0" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item fs-6 mx-auto" href="javascript:void(0);" onclick="submitFormWithValue('time')"><i class="fa-solid fa-arrow-down-long"></i>&nbsp; Time (newest)</a>
                        <a class="dropdown-item fs-6 mx-auto" href="javascript:void(0);" onclick="submitFormWithValue('relevance')">Relevance</a>
                      </div>
                    </li>

                </ul>
              </div>
            </div>
          </nav>
          <!-- Comments nav end -->
      </div>

        <!-- Comments results start-->
        <div class=" d-flex flex-grow-0 justify-content-center w-100 m-0 comments_results mb-1">
          <div class="col-12 col-md-10 p-0 my-auto card_container">

            <div class="card" id="background">

              <div class="card-body">

                {% for comment in comments %}
                
                <div class="d-flex flex-row justify-content-start mb-4 comments_body">
                  <a href="{{ comment.channel_url }}" style="width: 45px; height: 100%;"><img src="{{ comment.profile_image_url }}" class="mt-2 rounded profile_img" alt="avatar 1" loading="lazy"></a>
                    <div class="d-flex flex-column">

                        <div class="ms-3">
                          <p class="fs-6 mb-0 text-light">
                            <a href="{{ comment.channel_url }}" class="author_name">
                              {{ comment.author }}
                            </a>
                          </p>
                        </div>
        

                        <div class="p-3 ms-3 comment_background d-flex flex-row">
                          <p class="fs-6 mb-0 comment_text">{{ comment.text|safe }}</p>
                        </div>
                        
                        {% if comment.pinned == True %} 
                        <div class="ms-3">
                          <p class="fs-6 mb-0 text-muted comment_text"><small>
                            <i class="fa-solid fa-thumbtack"></i> Pinned by the author         
                          </small></p>        
                        </div>

                        <div class="ms-3">
                          <p class="fs-6 mb-0 text-muted comment_text"><small>{{ comment.publish_date }}</small></p>
                        </div>

                        {% else %}


                        <div class="ms-3">
                          <p class="fs-6 mb-0 text-muted comment_text"><small>{{ comment.publish_date }}</small></p>
                        </div>

                        {% endif %}  


                    </div>

                  {% if comment.pinned == True %}
                  <span class="mt-auto badge badge_with_pinned rounded-pill bg-danger">
                  {% else %}
                  <span class="mt-auto badge rounded-pill bg-danger" title="likes">
                  {% endif %}
                    <i class="fa-solid fa-thumbs-up me-1"></i> {{ comment.likes }}
                  </span>

                </div>


                {% endfor%}
                

              </div>
            </div>
          </div>
        </div>
        <!-- Comments results end-->
        

      </section>
      <!-- Comments container end-->


      <span class="mx-auto text-light mt-3 mb-2">Comments: &nbsp;{{ count }}</span>

      <!-- Pagination footer start-->
        <footer class="d-flex flex-grow-0 page_navigation mx-auto mb-4">
          <ul class="pagination justify-content-center" >

            {% if last_page and pageID == 1 %}

            <li class="page-item"><a class="page-link active_page" href="javascript:void(0);" onclick="changePageWithValue('{{ pageID }}')">{{ pageID }}</a></li>

            {% elif last_page %}

            <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="changePageWithValue('{{ pageID|add:-1 }}')">...{{ pageID|add:-1 }}</a></li>
            <li class="page-item"><a class="page-link active_page" href="javascript:void(0);" onclick="changePageWithValue('{{ pageID }}')">{{ pageID }}</a></li>
            
            {% elif pageID > 1 %}


            <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="changePageWithValue('{{ pageID|add:-1 }}')">... {{ pageID|add:-1 }}</a></li>
            <li class="page-item"><a class="page-link active_page" href="javascript:void(0);" onclick="changePageWithValue('{{ pageID }}')">{{ pageID }}</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="changePageWithValue('{{ pageID|add:1 }}')">{{ pageID|add:1 }} ...</a></li>

    
            {% else %}

            <li class="page-item"><a class="page-link active_page" href="javascript:void(0);" onclick="changePageWithValue('{{ pageID }}')">{{ pageID }}</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="changePageWithValue('{{ pageID|add:1 }}')">{{ pageID|add:1 }}...</a></li>
          
            {% endif %}

          </ul>
        </footer>
      <!-- Pagination footer end-->


      <a class="btn input_submit animate change_url_btn mb-3 mx-auto" href="{% url 'comments' %}">Change URL</a>


    </section>
    <!-- Comments section end -->


{% else%}
  <!-- Main container start -->
  <div class="d-flex main-container px-4 flex-column">

    <form method="post" class="container-fluid d-flex flex-column align-items-center my-auto before_search_container gap-4 p-0" id="main_form" >
        {% csrf_token %}
        
        <span class="text-light fs-1 text-center"><i class="fa-solid fa-comments"></i></span>
        <span class="pointing-to-link text-light fs-2 text-center" id="inputGroup-sizing-default">Enter video url</span>
        <input type="text" placeholder="https://www.youtube.com/watch?v=VIDEO_ID" name="video_url" class="form-control video_url_input text-light" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
        <button type="submit" class="btn btn-dark input_submit btn-lg animate mt-2">Confirm</button>
    </form>

{% endif %}


</section>
<!-- Main container end -->




<!-- Toast container start -->
<div class="toast-container bottom-0 start-50 translate-middle-x ">
  {% for message in messages %}
    <div class="toast fade align-items-center text-center text-white bg-dark border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="false"> 
      <div class="toast-body">
        <i class="fa-regular fa-hand-peace"></i>&nbsp {{ message }}
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn-close fs-5 fs-sm-6 toast_dismiss" aria-label="Close"></button>
      </div>
    </div>
  {% endfor %}
</div>
<!-- Toast container end -->




<script type="text/javascript">

  $(document).ready(function(){

    $(window).on("pageshow", function() {
      $('.modal').modal('hide');
    });

    $(".toast").toast("show").slideUp(1).fadeIn( 2000 );

    $(".card_body").attr("target", "_blank");
    $(".card_body").attr("rel", "noopener noreferrer");
    $(".comment_text").find("a").addClass("link_in_comments");

    {% if pageID %}
    dselect(document.querySelector('#maxResults'));


    $(".dselect-wrapper").children("div").addClass("selection-menu");
    $(".dselect-wrapper").find(".dropdown-item").addClass("selection-menu");
    $(".dselect-wrapper").find(".form-select").addClass("mx-auto");


    {% endif %}

    // Add slideDown animation to Bootstrap dropdown when expanding.
    $('.dropdown').on('show.bs.dropdown', function() {
      $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
    });

    // Add slideUp animation to Bootstrap dropdown when collapsing.
    $('.dropdown').on('hide.bs.dropdown', function() {
      $(this).find('.dropdown-menu').first().stop(true, true).slideUp(300);
    });

    $('.datepicker').on('change', function() {
      $(this).css('border-color', '#7cf569');
    });
    
    $('.form-select').on('focus', function() {
      $(this).css('border-color', '#7cf569');
    }); 
    
    $('.comments_body').find('.author_name').hover( function() {
      $(this).closest('.comments_body').find('.profile_img').css('box-shadow', '0px 0px 10px 0.5px yellow');
    }, function() {
      $(this).closest('.comments_body').find('.profile_img').css('box-shadow', '0px 0px 10px 0.5px red');
    });
    
    $('.comments_body').find('.profile_img').hover( function() {
      $(this).css('box-shadow', '0px 0px 10px 0.5px yellow');
    }, function() {
      $(this).css('box-shadow', '0px 0px 10px 0.5px red');
    });

    $(".comments_navbar").click(function() {
      navbar = $(this);
      var value = navbar.find(".navbar-toggler").attr('aria-expanded');
  
      if (value == 'true') {
        navbar.addClass("comments_navbar_absolute black");
      }

      else {
        navbar.find(".navbar-collapse").on('hidden.bs.collapse', function() {
          navbar.removeClass("comments_navbar_absolute black");
        });
      }
    });
  
    {% if maxResults %}
      var selectedValue = '{{ maxResults }}';

      $('#maxResults').val(selectedValue);
      $('.dselect-wrapper').find('button.form-select').html(selectedValue);
      $('.form-select').css('border-color', '#7cf569');

      $('.dselect-wrapper').find('button.form-select').on('DOMSubtreeModified', function() {
        var MaxResults = $(this).html();
        changePageWithMaxResults(MaxResults);
      });
    {% endif %}

  });


  // Add event listener for click event on the close button
  $('.toast .btn-close').on('click', function() {
    var toast = $(this).closest('.toast');
    // Animate the toast element
    toast.animate({
      opacity: 0,
      height: 0,
      marginBottom: 0
    }, 500, function() {
      // Remove the toast element from the DOM
      toast.remove();
    });
  });


  $(".navbar-toggler-icon").css("background-image", "url(\"data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' zoomAndPan='magnify' viewBox='0 0 30 30.000001' height='40' preserveAspectRatio='xMidYMid meet' version='1.0'%3E%3Cdefs%3E%3CclipPath id='id1'%3E%3Cpath d='M 3.386719 7.164062 L 26.613281 7.164062 L 26.613281 22.40625 L 3.386719 22.40625 Z M 3.386719 7.164062 ' clip-rule='nonzero' fill='white'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23id1)'%3E%3Cpath fill='white' d='M 3.398438 22.40625 L 26.601562 22.40625 L 26.601562 19.867188 L 3.398438 19.867188 Z M 3.398438 16.054688 L 26.601562 16.054688 L 26.601562 13.515625 L 3.398438 13.515625 Z M 3.398438 7.164062 L 3.398438 9.703125 L 26.601562 9.703125 L 26.601562 7.164062 Z M 3.398438 7.164062 ' fill-opacity='1' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E\")");

  $( ".navbar-toggler" ).click(function() {
    var icon = $(this).children("span");
    var value = $(this).attr('aria-expanded');

    if (value == 'true') {
      icon.css("background-image", "url(\"data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-compact-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z' fill='white'%3E%3C/path%3E%3C/svg%3E\")")
    }
    else icon.css("background-image", "url(\"data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' zoomAndPan='magnify' viewBox='0 0 30 30.000001' height='40' preserveAspectRatio='xMidYMid meet' version='1.0'%3E%3Cdefs%3E%3CclipPath id='id1'%3E%3Cpath d='M 3.386719 7.164062 L 26.613281 7.164062 L 26.613281 22.40625 L 3.386719 22.40625 Z M 3.386719 7.164062 ' clip-rule='nonzero' fill='white'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23id1)'%3E%3Cpath fill='white' d='M 3.398438 22.40625 L 26.601562 22.40625 L 26.601562 19.867188 L 3.398438 19.867188 Z M 3.398438 16.054688 L 26.601562 16.054688 L 26.601562 13.515625 L 3.398438 13.515625 Z M 3.398438 7.164062 L 3.398438 9.703125 L 26.601562 9.703125 L 26.601562 7.164062 Z M 3.398438 7.164062 ' fill-opacity='1' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E\")");
  });


  {% if video_id %}
  function submitFormWithValue(order) {

    maxResults = document.getElementById("maxResults").value;

    var form = document.getElementById('hidden_form');


    var orderInput = document.getElementById('orderInput');
    var maxResultsInput = document.getElementById('maxResultsInput');
    var previousPageIdInput = document.getElementById('previousPageIdInput');
    var pageIdInput = document.getElementById('pageIdInput');
    var video_idInput = document.getElementById('video_idInput');

    
    orderInput.value = order;
    maxResultsInput.value = maxResults;
    previousPageIdInput.value = 1;
    pageIdInput.value = 1;
    video_idInput.value = '{{ video_id }}';

    form.submit();

  }

  {% endif %}


  {% if pageID %}
  function changePageWithValue(page) {

    var form = document.getElementById('hidden_form');


    var orderInput = document.getElementById('orderInput');
    var maxResultsInput = document.getElementById('maxResultsInput');
    var previousPageIdInput = document.getElementById('previousPageIdInput');
    var pageIdInput = document.getElementById('pageIdInput');
    var video_idInput = document.getElementById('video_idInput');

    orderInput.value = '{{ order }}';
    maxResultsInput.value = {{ maxResults }};
    previousPageIdInput.value = {{ pageID }};
    pageIdInput.value = page;
    video_idInput.value = '{{ video_id }}';

    form.submit();

  }

  function changePageWithMaxResults(maxResults) {

    var form = document.getElementById('hidden_form');


    var orderInput = document.getElementById('orderInput');
    var maxResultsInput = document.getElementById('maxResultsInput');
    var previousPageIdInput = document.getElementById('previousPageIdInput');
    var pageIdInput = document.getElementById('pageIdInput');
    var video_idInput = document.getElementById('video_idInput');

    orderInput.value = '{{ order }}';
    maxResultsInput.value = maxResults;
    previousPageIdInput.value = {{ pageID }};
    pageIdInput.value = {{ pageID }};
    video_idInput.value = '{{ video_id }}';

    form.submit();

  }

  {% endif %}

</script>
</body>
</html>