{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube helper</title>

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/template_download_style.css' %}">

    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/5cd37e3dba.js" crossorigin="anonymous"></script>

    <!--======================================Links===================================================-->	
        <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>  
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body>
    
<!-- Navbar start -->

<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
      <a class="navbar-brand text-light ms-sm-2 me-0" href="{% url 'main_page' %}"><h2 id="main-title">Youtube helper</h2></a>
      <button class="navbar-toggler mt-1 ms-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse mb-sm-2 mt-3" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-2 gap-3 mb-sm-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-screwdriver-wrench" style="color: #ffffff;"></i>&nbsp; Tools
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light fs-6" href="#">Action</a>
            <a class="dropdown-item text-light fs-6" href="#">Ai Video Recommendation</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-light fs-6" href="#"><i class="fa-solid fa-location-crosshairs" style="color: #ffffff;"></i>&nbsp; Downloader</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="{% url 'main_page' %}"><i class="fa-solid fa-house"></i>&nbsp; Home</a>
        </li>

        {% if logged == False %}
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'login_page' %}"><i class="fa-solid fa-right-to-bracket"></i>&nbsp; Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'sign_up_page' %}"><i class="fa-solid fa-user-plus"></i>&nbsp; Sign up</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'logout' %}"><i class="fa-solid fa-right-to-bracket"></i>&nbsp; Log out</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>

  
<!-- Navbar end -->


<div class="d-flex main_container justify-content-center flex-column align-items-center">
  <!-- Container for centering start -->
  <!-- Centered input start -->
  {% if thumbnail == "couldn't find" %}
    <div class="d-none align-items-center justify-content-center mt-2 mt-sm-0 first-container" style="height: calc(100% - 72.39px)">
  {% else %}
    <div class="d-none align-items-end mt-2 mt-sm-0 first-container" style="height: calc(50% - 72.39px)">
  {% endif %}

  <div class="container-fluid d-flex align-items-center justify-content-center cut_width" style="height: auto">

    <!-- Card start -->
      <div class="card mb-3 border-0 text-light ps-sm-4 align-items-center justify-content-center" style="max-width: 100%;">
          <div class="row g-0 align-items-center justify-content-center">
            <div class="col-4 mb-4 mb-sm-0 d-flex align-items-center justify-content-center">

              {% if thumbnail == "couldn't find" %}
                <i class="fa-solid fa-triangle-exclamation error_occured mb-2" style="color: #ffffff;"></i>
              {% else %}
                <img src="{{ thumbnail }}" class="img-fluid rounded" alt="Video_thumbnail">
              {% endif %}

            </div>
            <div class="col-md-8">
              <div class="card-body ">
                <h5 class="card-title text-center fs-4">{{ title }}</h5>
                <p class="card-text text-center mb-2"><a href="{{ link }}" class="link_to_video" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-arrow-up-right-from-square" style="color: #78d4fc;"></i>&nbsp; {{ link }}</a></p>
                <p class="card-text d-flex align-items-center justify-content-center">
                  <!-- Scrollable modal -->
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-secondary mb-2 bg-black border-0 p-3 description" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Show description
                      </button>
                </p>
                <p class="card-text text-center fs-6 mt-1 mt-sm-0"><i class="fa-solid fa-eye"></i></i> {{ views }}  views</p>
                <p class="card-text text-center fs-6"><i class="fa-regular fa-clock"></i> {{ length }} &nbsp;&nbsp;<i class="fa-regular fa-calendar-days"></i>&nbsp; {{ publish_date }}</p>
              </div>
            </div>
          </div>
        </div>
    <!-- Card end -->
    
    <!-- Modal with description start -->
    <div class="modal fade modal1" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-dark">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">{{ title }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text_for_modal">
            {{ description }}
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary login100-form-btn" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <!-- Modal with description end -->

  <!-- Modal when downloading start -->
  <div class="modal fade modal2" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body rounded">
        <div class="d-flex align-items-center justify-content-center text-light">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
            &nbsp;
            <strong>  Downloading file for you...</strong>
          </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Modal when downloading end -->

  </div>
  </div>
  <!-- Centered input end -->
  <!-- Container for centering end -->

  {% if thumbnail != "couldn't find" %}
    <!-- Download section start -->
    <div class="d-none second-container">
        <div class="container-fluid gap-2 d-flex mt-2 mt-sm-4 justify-content-center">
          <p class="fs-3" id="floating"><strong>&darr; Download below &darr;</strong></p>
        </div>


        <!-- Result box start -->
        <form class="container-fluid gap-2 d-flex mt-5 justify-content-center cut_width"  method="post">
            {% csrf_token %}
            <a type="submit" class="btn btn-dark downloading login100-form-btn" name="sd_quality" href="{% url 'download_page' parameter=link parameter_name='-sd_quality' %}">SD quality</a>
            <a type="submit" class="btn btn-dark downloading login100-form-btn" name="hd_quality" href="{% url 'download_page' parameter=link parameter_name='-hd_quality' %}">HD quality</a>
        </form>
        <!-- Result box end -->

        <!-- Result box2 start -->
        <form class="container-fluid gap-2 d-flex mt-4 justify-content-center cut_more_width" method="post">
          {% csrf_token %}
          <a type="submit" class="btn btn-dark downloading login100-form-btn" name="mp3" href="{% url 'download_page' parameter=link parameter_name='-mp3' %}">MP3 only</a>
        </form>

        <!-- Result box2 end -->
    </div>
    <!-- Download section end -->
  {% endif %}


</div>
<!--======================================Toasts===================================================-->	
<div class="toast-container bottom-0 start-50 translate-middle-x ">
  {% for message in messages %}
  <div class="toast fade align-items-center text-center text-white bg-dark border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="false"> 
    <div class="toast-body">
      <i class="fa-regular fa-hand-peace"></i>&nbsp; {{ message }}
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn-close fs-5 fs-sm-6 toast_dismiss" aria-label="Close"></button>
    </div>
  </div>
</div>
{% endfor %}
<!--===============================================================================================-->	


<!--======================================Scripts===================================================-->	
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->



<script type="text/javascript">
  $(document).ready(function(){

    $(window).on("pageshow", function() {
      $('.modal').modal('hide');
      $("#staticBackdrop").modal('hide');
    });
    
    // Fade In page
    $('.first-container').fadeIn(500).removeClass('d-none').addClass('d-flex');
    $('.second-container').fadeIn(1000).removeClass('d-none');

    $(".toast").toast("show").slideUp(1).fadeIn( 2000 );
  });

  $(".modal2").on('shown.bs.modal', function() {
    $('.modal-backdrop').css('opacity', '0.6');
  });

  // Add event listener for click event on the close button
  $('.toast .btn-close').on('click', function() {
    var toast = $(this).closest('.toast');
    // Animate the toast element
    toast.animate({
      opacity: 0,
      height: 0,
      marginBottom: 0
    }, 500, function() {
      // Remove the toast element from the DOM
      toast.remove();
    });
  });
  

	$(".downloading").click(function(){
		$("#staticBackdrop").modal('show');
	});


  var hamburger_icon = document.getElementsByClassName("navbar-toggler-icon");
  hamburger_icon[0].style.backgroundImage = "url(\"data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' zoomAndPan='magnify' viewBox='0 0 30 30.000001' height='40' preserveAspectRatio='xMidYMid meet' version='1.0'%3E%3Cdefs%3E%3CclipPath id='id1'%3E%3Cpath d='M 3.386719 7.164062 L 26.613281 7.164062 L 26.613281 22.40625 L 3.386719 22.40625 Z M 3.386719 7.164062 ' clip-rule='nonzero' fill='white'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23id1)'%3E%3Cpath fill='white' d='M 3.398438 22.40625 L 26.601562 22.40625 L 26.601562 19.867188 L 3.398438 19.867188 Z M 3.398438 16.054688 L 26.601562 16.054688 L 26.601562 13.515625 L 3.398438 13.515625 Z M 3.398438 7.164062 L 3.398438 9.703125 L 26.601562 9.703125 L 26.601562 7.164062 Z M 3.398438 7.164062 ' fill-opacity='1' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E\")";


  $( ".navbar-toggler" ).click(function() {
    var value = $(".navbar-toggler").attr('aria-expanded');
    console.log(value);

    if (value == 'true') {
      hamburger_icon[0].style.backgroundImage = "url(\"data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-compact-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z' fill='white'%3E%3C/path%3E%3C/svg%3E\")"
    }
    else hamburger_icon[0].style.backgroundImage = "url(\"data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' zoomAndPan='magnify' viewBox='0 0 30 30.000001' height='40' preserveAspectRatio='xMidYMid meet' version='1.0'%3E%3Cdefs%3E%3CclipPath id='id1'%3E%3Cpath d='M 3.386719 7.164062 L 26.613281 7.164062 L 26.613281 22.40625 L 3.386719 22.40625 Z M 3.386719 7.164062 ' clip-rule='nonzero' fill='white'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23id1)'%3E%3Cpath fill='white' d='M 3.398438 22.40625 L 26.601562 22.40625 L 26.601562 19.867188 L 3.398438 19.867188 Z M 3.398438 16.054688 L 26.601562 16.054688 L 26.601562 13.515625 L 3.398438 13.515625 Z M 3.398438 7.164062 L 3.398438 9.703125 L 26.601562 9.703125 L 26.601562 7.164062 Z M 3.398438 7.164062 ' fill-opacity='1' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E\")";
  });

  // Add slideDown animation to Bootstrap dropdown when expanding.
  $('.dropdown').on('show.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
  });

  // Add slideUp animation to Bootstrap dropdown when collapsing.
  $('.dropdown').on('hide.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp(300);
  });

</script>
</body>
</html>