{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube helper</title>

    <!--===============================================================================================-->
        <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!--===============================================================================================-->
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">  
    <!--===============================================================================================-->
        <link rel="stylesheet" href="{% static 'css/template_log_reg_style.css' %}">
    <!--===============================================================================================-->


    <!--===============================================================================================-->
        <script src="https://kit.fontawesome.com/5cd37e3dba.js" crossorigin="anonymous"></script>
    <!--===============================================================================================-->
        <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!--===============================================================================================-->	
        <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
    <!--===============================================================================================-->



    <!--===============================================================================================-->	
	      <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->

</head>
<body>
    

<!-- Site container start -->
<div class="d-flex flex-column full_site_container">


<!-- Navbar start -->
{% url 'login_page' as the_url %}
{% include "navbar.html" with sites_context=sites_context active_site_name="Log in" active_site_url=the_url %}
<!-- Navbar end -->  


  <!-- Main container start -->
  <section class="d-none flex-column my-auto pt-5 pb-0 px-5 align-items-center justify-content-center main-container">
      <div class="insides">
          <form method="POST">
              {% csrf_token %}
              <div class="limiter">
                <form class="login100-form validate-form">
                  <span class="login100-form-title">
                    <span class="text-light fs-2 me-2 text-center"> <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> </span>
                      Log in
                  </span>

                  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    {{ form.username }}
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                  </div>

                  <div class="wrap-input100 validate-input" data-validate = "Password is required">
                      {{ form.password1 }}
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                          <i class="fa fa-lock" aria-hidden="true"></i>
                      </span>
                  </div>
                  
                  <div class="container-login100-form-btn">
                      <button class="login100-form-btn animate" type="submit">
                          <i class="fa-solid fa-greater-than"></i>
                          Log in
                      </button>
                  </div>
                </form>
              </div>
          </form>
      </div>
  </section>
  <!-- Main container end -->

  <div class="d-block mt-5 mb-3 footer">
    <div class="text-center">
      <span class="txt1">
          Forgot
      </span>
      <a class="txt2" href="#">
          Username / Password?
      </a>
    </div>

    <div class="text-center p-t-12 mb-3 footer">
        <a class="txt2" href="{% url 'sign_up_page' %}">
            Need a new account? Sign up
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
    </div>
  </div>

</div>
<!-- Site container end -->




<!-- Toasts container start -->
<div class="toast-container bottom-0 start-50 translate-middle-x mb-3">
  {% for message in messages %}
    <div class="toast fade align-items-center text-center text-white bg-dark border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true"> 
      <div class="toast-body">
        <i class="fa-regular fa-hand-peace"></i>&nbsp  {{ message }}
      </div>
    </div>
  {% endfor %}
</div>
<!-- Toasts container end -->





<script type="text/javascript">

  $('.js-tilt').tilt({
    scale: 1.1
  })


  $(document).ready(function(){

    // Fade In page
    $('.main-container').fadeIn(500).removeClass('d-none').addClass('d-flex');


    $(".toast").toast("show");

    var toasts = $('.toast');

    // Hide toasts initially using CSS
    toasts.css({
      opacity: 0,
      transform: 'translateY(0)',
      display: 'none'
    });

    // Show each toast and apply slide-in animation in reverse order
    $(toasts.get().reverse()).each(function(index) {
      var toast = $(this);

      // Delay and animate each toast
      setTimeout(function() {
        toast.css('display', 'block'); // Show the toast before animation
        toast.animate({
          opacity: 1,
          transform: 'translateY(100vh)'
        }, {
          duration: 500,
          start: function() {
            toast.css('display', 'block');
          }
        });
      }, index * 200 + 200); // Delay each toast by 200ms, with an additional 200ms delay for the first toast
    });
    

    // Add event listener for click event on the close button
    $('.toast .btn-close').on('click', function() {
      var toast = $(this).closest('.toast');
      // Animate the toast element
      toast.animate({
        opacity: 0,
        height: 0,
        marginBottom: 0
      }, 500, function() {
        // Remove the toast element from the DOM
        toast.remove();
      });
    });

    var form_fields = document.getElementsByTagName("input");


    for (const element of form_fields) {
        element.classList.add("input100");
    };

    form_fields[1].placeholder = "Username";
    form_fields[1].classList.add('username');
    form_fields[1].style.fontWeight = "bold";
    form_fields[2].placeholder = "Password";

  });


  // Changing hamburger icon when clicked
  var hamburger_icon = document.getElementsByClassName("navbar-toggler-icon");
  hamburger_icon[0].style.backgroundImage = "url(\"data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' zoomAndPan='magnify' viewBox='0 0 30 30.000001' height='40' preserveAspectRatio='xMidYMid meet' version='1.0'%3E%3Cdefs%3E%3CclipPath id='id1'%3E%3Cpath d='M 3.386719 7.164062 L 26.613281 7.164062 L 26.613281 22.40625 L 3.386719 22.40625 Z M 3.386719 7.164062 ' clip-rule='nonzero' fill='white'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23id1)'%3E%3Cpath fill='white' d='M 3.398438 22.40625 L 26.601562 22.40625 L 26.601562 19.867188 L 3.398438 19.867188 Z M 3.398438 16.054688 L 26.601562 16.054688 L 26.601562 13.515625 L 3.398438 13.515625 Z M 3.398438 7.164062 L 3.398438 9.703125 L 26.601562 9.703125 L 26.601562 7.164062 Z M 3.398438 7.164062 ' fill-opacity='1' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E\")";


  $( ".navbar-toggler" ).click(function() {
    var value = $(".navbar-toggler").attr('aria-expanded');
    console.log(value);

    if (value == 'true') {
      hamburger_icon[0].style.backgroundImage = "url(\"data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-compact-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z' fill='white'%3E%3C/path%3E%3C/svg%3E\")"
    }
    else hamburger_icon[0].style.backgroundImage = "url(\"data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' zoomAndPan='magnify' viewBox='0 0 30 30.000001' height='40' preserveAspectRatio='xMidYMid meet' version='1.0'%3E%3Cdefs%3E%3CclipPath id='id1'%3E%3Cpath d='M 3.386719 7.164062 L 26.613281 7.164062 L 26.613281 22.40625 L 3.386719 22.40625 Z M 3.386719 7.164062 ' clip-rule='nonzero' fill='white'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23id1)'%3E%3Cpath fill='white' d='M 3.398438 22.40625 L 26.601562 22.40625 L 26.601562 19.867188 L 3.398438 19.867188 Z M 3.398438 16.054688 L 26.601562 16.054688 L 26.601562 13.515625 L 3.398438 13.515625 Z M 3.398438 7.164062 L 3.398438 9.703125 L 26.601562 9.703125 L 26.601562 7.164062 Z M 3.398438 7.164062 ' fill-opacity='1' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E\")";
  });


  // Add slideDown animation to Bootstrap dropdown when expanding.
  $('.dropdown').on('show.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
  });

  // Add slideUp animation to Bootstrap dropdown when collapsing.
  $('.dropdown').on('hide.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp(300);
  });
        
</script>
</body>
</html>