{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube helper</title>

    
       <!-- Imports start -->
       <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
       <link rel="stylesheet" href="{% static 'css/overall.css' %}">  
       <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">  
       <link rel="stylesheet" href="{% static 'css/template_manage_account_Private.css' %}">
   
   
       <script src="https://kit.fontawesome.com/5cd37e3dba.js" crossorigin="anonymous"></script>
       <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
       <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
   
   
       <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
       <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
       <!-- Imports end -->
   </head>

</head>
<body>
    

<!-- Navbar start -->
{% url 'manage_account' as the_url %}
{% include "navbar.html" with sites_context=sites_context active_site_name="Manage account" active_site_url=the_url %}
<!-- Navbar end -->


  
<!-- Main container start -->
<div class="d-flex main-container flex-column flex-md-row">

  <!-- Sidebar start -->
  {% include "manage_account_sidebar.html" with active="Private" %}
  <!-- Sidebar end -->


   <section class="col-md-10 mx-auto my-auto text-center">
    <span class="fs-1 text-muted mx-auto my-auto">
      Coming soon
    </span>
   </section>

</div>
<!-- Main container end -->




<!-- Toasts container start -->	
<div class="toast-container bottom-0 start-50 translate-middle-x ">
  {% for message in messages %}
  <div class="toast fade text-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="false"> 
    <div class="toast-body">
        <i class="fa-regular fa-hand-peace"></i>&nbsp; {{ message }}
    </div>
    <button type="button" class="btn-close ms-auto fs-6 mb-2 toast_dismiss" aria-label="Close"></button>
  </div>
  {% endfor %}
</div>
<!-- Toasts container end -->	



<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
</body>
</html>