<section class="d-flex col-md-2 justify-content-center sidebar_section my-5 my-md-0">

    <aside class="d-flex flex-column justify-content-center gap-3 sidebar">

        <a href="#">
            <i class="fa-solid fa-address-card"></i>&nbsp;
            <span>General</span>
        </a>
        
        <a href="#">
            <i class="fa-solid fa-timeline"></i>&nbsp;
            <span>Overview & history</span>
        </a>
        
        <a href="#">
            <i class="fa-solid fa-lock"></i>&nbsp;
            <span>Private</span>
        </a>

    </aside>

</section>
