<section class="d-flex col-lg-2 justify-content-center sidebar_section my-5 my-lg-0">

    <aside class="d-flex flex-column justify-content-center gap-3 gap-lg-5 sidebar">

        
        {% if active == "General" %}
            <a href="{% url 'manage_account_General' %}" class="active">
        {% else %}
            <a href="{% url 'manage_account_General' %}">
        {% endif %}
            <div>
                <i class="fa-solid fa-address-card"></i>
                <span>General</span>
            </div>
        </a>

        {% if active == "Overview" %}
            <a href="{% url 'manage_account_Overview' %}" class="active">
        {% else %}
            <a href="{% url 'manage_account_Overview' %}">
        {% endif %}
            <div>
                <i class="fa-solid fa-timeline"></i>
                <span>Overview & history</span>
            </div>
        </a>
        
        {% if active == "Private" %}
            <a href="{% url 'manage_account_Private' %}" class="active">
        {% else %}
            <a href="{% url 'manage_account_Private' %}">
        {% endif %}
            <div>
                <i class="fa-solid fa-lock"></i>
                <span>Private</span>
            </div>
        </a>

    </aside>

</section>
