{% extends "simple_template.html" %}
{% load widget_tweaks %}


{% block content %}

    <div class="container-fluid d-flex flex-column align-items-center gap-3 p-0" id="main_form" >
        <span class="text-light fs-1 text-center"><i class="fa-solid fa-paper-plane"></i></span>
        <span class="pointing-to-mail text-light fs-3 text-center">Password has been changed</span>

        <!-- Go back section start-->
          <a class="text-light highlight_link go_back fs-5" href="{% url 'main_page' %}">
          <i class="fa-solid fa-arrow-left"></i>&nbsp; Main Page
          </a>
        <!-- Go back section end-->
    </div>
    
{% endblock %}