{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube helper</title>

    
      <!-- Imports start -->
      <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/overall.css' %}">  
      <link rel="stylesheet" href="{% static 'css/simple_pages.css' %}">
  
  
      <script src="https://kit.fontawesome.com/5cd37e3dba.js" crossorigin="anonymous"></script>
      <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
  
  
      <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
      <!-- Imports end -->
  </head>

</head>
<body>
    

<!-- Main container start -->
<div class="d-flex justify-content-center container px-4 flex-column">

    <!-- Go back section start-->
        <div class="mx-auto go_back_container">
            <button class="text-light highlight_link go_back fs-5" onclick="history.back()">
            <i class="fa-solid fa-arrow-left"></i>&nbsp; Go back
            </button>
        </div>
    <!-- Go back section end-->

    <form method="post" class="container-fluid d-flex flex-column align-items-center gap-3 p-0" id="main_form" >
        {% csrf_token %}

        <span class="text-light fs-1 text-center"><i class="fa-solid fa-paper-plane"></i></span>
        <span class="pointing-to-mail text-light fs-3 text-center">Reset your password</span>
        <span class="pointing-to-mail text-muted fs-5 text-center">Your e-mail address:</span>
        {{form.email|add_class:"form-control"|attr:"placeholder:E-mail"|attr:"required"}}
        <button type="submit" class="btn btn-dark btn-lg animate mt-2">Send request</button>
    </form>
</div>  
<!-- Main container end -->



<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
</body>
</html>