{% extends "simple_template.html" %}
{% load widget_tweaks %}

{% block content %}


    <form method="post" class="container-fluid d-flex flex-column align-items-center gap-3 px-0 pw_reset my-auto" id="main_form" >
        {% csrf_token %}

        <i class="fa-solid fa-unlock text-light fs-1"></i>
        <span class="pointing-to-mail text-light fs-3 text-center">Reset your password</span>

        {% if form %}
        <span class="pointing-to-mail text-light fs-5 text-center">
            {% for field,errors in form.errors.items %}
                {% for error in errors %}
                <i class="fa-solid fa-circle-exclamation" style="color: #ffff00;"></i>&nbsp; {{ error }}
                {% endfor %}
            {% endfor %}
        </span>
        {{ form.new_password1|attr:"placeholder:New password"|attr:"type:password"|add_class:"form-control" }}
        {{ form.new_password2|attr:"placeholder:Confirm password"|attr:"type:password"|add_class:"form-control" }}

        <button type="submit" class="btn btn-dark btn-lg animate input_submit mt-2">Send request</button>
        
        {% else %}
        <span class="pointing-to-mail text-muted fs-6 text-center">
            The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
        </span>

        <!-- Go back section start-->
            <a class="text-light highlight_link go_back fs-5 mt-4" href="{% url 'main_page' %}">
                <i class="fa-solid fa-arrow-left"></i>&nbsp; Main Page
            </a>
        <!-- Go back section end-->
        {% endif %}
    </form>

{% endblock %}