{% extends "simple_template.html" %}

{% block navbar %}

<!-- Navbar start -->
{% url 'youtube_to_spotify' as the_url %}
{% include "navbar.html" with sites_context=sites_context active_site_name="From Youtube to Spotify" active_site_url=the_url %}
<!-- Navbar end -->   

{% endblock %}

{% block content %}


<!-- Main container start -->
<div class="d-flex justify-content-center main-container px-4 flex-column">
    <div class="container-fluid d-flex flex-column align-items-center gap-3 p-0" id="main_form" >

        {% if sp_account_url %}

        <!-- Go back section start-->
            <div class="mx-auto go_back_container">
                <a class="text-light highlight_link go_back fs-5" href="{% url 'youtube_to_spotify' %}">
                    <i class="fa-solid fa-arrow-left"></i>&nbsp; Another playlist
                </a>
            </div>
        <!-- Go back section end-->


        <span class="text-light fs-1 text-center"><i class="fa-brands fa-spotify"></i></span>
        <span class="text-light fs-2 text-center">
            Done
        </span>
        <span class="pointing-to-mail text-muted fs-5 text-center">
            Your playlist has been added to the queue.<br> 
            Check your Spotify account and look forward to the generated playlist.
        </span>
        <span class="pointing-to-mail text-light fs-6 mt-5 text-center">Your spotify account:</span>
        
        <i class="fa-solid fa-chevron-down text-light"></i>
        <a class="pointing-to-mail sp_url fs-5 text-center" href="{{ sp_account_url }}"target="_blank" rel="noopener noreferrer">
            {{ sp_account_url}}
        </a>
        
        {% else %}

        <!-- Go back section start-->
        <div class="mx-auto go_back_container">
            <a class="text-light highlight_link go_back fs-5" href="{% url 'youtube_to_spotify' %}">
                <i class="fa-solid fa-arrow-left"></i>&nbsp; Another playlist
            </a>
        </div>
        <!-- Go back section end-->


        <span class="text-light fs-1 text-center"><i class="fa-brands fa-spotify"></i></span>
        <span class="pointing-to-mail text-light fs-2 text-center">Check your account</span>
        <span class="pointing-to-mail text-muted fs-5 text-center">
            Task was received, check your spotify account for playlist. 
            Spotify is async based so playlist can be formed in real-time.
        </span>

        {% endif %}

    </div>

{% endblock %}