{% extends "template.html" %}
{% load static %}


{% block head_imports %}
    <link rel="stylesheet" href="{% static 'css/template_downloader.css' %}">
    <script src="{% static 'js/downloader_page.js' %}" type="text/javascript"></script>
{% endblock %}


{% block navbar %}
<!-- Navbar start -->
{% url 'downloader_page' as the_url %}
{% include "navbar.html" with sites_context=sites_context active_site_name="Video Downloader" active_site_url=the_url %}
<!-- Navbar end -->    
{% endblock %}


{% block content %}

<!-- Main container start-->
<div class="main-container">


  <!-- First section start -->
  <section class="d-flex flex-column align-items-center first-container snap">
    
    <form method="post" class="container-fluid d-flex flex-column my-auto align-items-center gap-4 p-0" id="main_form" >
        {% csrf_token %}

          <div class="d-flex flex-column gap-3 mb-1">
            <span class="d-flex gap-3 mx-auto text-light fs-1 text-center">
              <i class="fa-brands fa-youtube"></i>
              <i class="fa-solid fa-download"></i>
            </span>
            <span class="text-muted">Youtube Video Downloader</span> 
          </div>
          
          <span class="pointing-to-link text-light fs-2 text-center" id="inputGroup-sizing-default">Enter video url</span>
          <input type="text" placeholder="https://www.youtube.com/watch?v=VIDEO_ID" name="sended_link" id="input_link" class="form-control text-light" id="section1" required>
          <button type="submit" class="btn btn-dark btn-lg animate mt-2 input_submit">Confirm</button>
    </form>

    <a href="#section2">
      <i class="fa-solid fa-chevron-down text-light fs-3"></i>
    </a>
  </section>
  <!-- First section end -->



  <!-- Second section start -->
  <section class="d-flex my-auto flex-column container-fluid align-items-center justify-content-center second-container mb-3">

    <span class="text-light fs-2 text-center"> <i class="fa-solid fa-photo-film" style="color: #ffffff;"></i> </span>
    <span class="slider_info p-3 text-light fs-2 text-center">Previously downloaded media </span>

    {% if logged == True and unique_videos %}
      <div class="ratio ratio-16x9 mx-auto">
      <div id="DownloadHistorySlider" class="mx-auto carousel slide snap" data-bs-interval="2000" data-bs-touch="true" data-bs-ride="carousel">
        <div class="carousel-indicators">

          {% for number in number_of_links %}
          <li data-bs-target="#DownloadHistorySlider" class="indicator" data-bs-slide-to="{{ number }}"></li>
          {% endfor %} 

        </div>
        <div class="carousel-inner">

          {% for video in unique_videos %}

            <div class="carousel-item" id="section2">
              <img class="d-block slider_image" src="{{ video.thumbnail_url }}" alt="slide">
                <div class="carousel-caption d-block text-center">
                  <span class="caption_text d-block text-truncate"> {{ video.title }} </span>

                  <p class="mt-2 date_in_caption"><small><i class="fa-regular fa-calendar-days"></i>&nbsp {{ video.saved_on|date:"d/m/Y G:i" }}</small></p>
                  <a type="submit" class="btn btn-dark my-2" onclick="submitFormWithValue('{{ video.link }}')"> Download </a>
                </div>
            </div>

          {% endfor %} 

        </div>
        <a class="carousel-control-prev" data-bs-target="#DownloadHistorySlider" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" data-bs-target="#DownloadHistorySlider" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </section>


  {% elif logged == False %}
  <section class="d-flex info_for_carousel p-5 py-3 py-lg-5 snap">
    <span class="text-light fs-2 text-center text-muted"> Log in to see your download history </span>
  </section>

  {% else %}
  <section class="d-flex info_for_carousel p-5 py-3 py-lg-5 snap">
    <span class="text-light fs-2 text-center text-muted"> Download history is empty </span>
  </section>

  {% endif %}
  <!-- Second section end -->



</div>
<!-- Main container end -->



<!-- Toasts container start -->
<div class="toast-container bottom-0 start-50 translate-middle-x">
  {% for message in messages %}
  <div class="toast fade hide_this align-items-center text-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="false"> 
    <div class="toast-body">
      <i class="fa-regular fa-hand-peace"></i>&nbsp {{ message|safe }}
    </div>
  </div>
  {% endfor %}
</div>
<!-- Toasts container end -->

{% endblock %}