{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube helper</title>

    <!-- Imports start -->
      <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/overall.css' %}">  
      <link rel="stylesheet" href="{% static 'css/template_log_reg_style.css' %}">


      <script src="https://kit.fontawesome.com/5cd37e3dba.js" crossorigin="anonymous"></script>
      <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>


      <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Imports end -->
</head>
<body>
    

<!-- Site container start -->
<div class="d-flex flex-column full_site_container">


<!-- Navbar start -->
{% url 'login_page' as the_url %}
{% include "navbar.html" with sites_context=sites_context active_site_name="Log in" active_site_url=the_url %}
<!-- Navbar end -->  


  <!-- Main container start -->
  <section class="d-none flex-column my-auto pt-5 px-4 align-items-center justify-content-center main-container">
      <div class="insides">
        <form method="POST">
          {% csrf_token %}
          <div class="limiter d-flex flex-column gap-2">
            <form class="login100-form validate-form">
              <span class="login100-form-title">
                <span class="text-light fs-2 me-2 text-center"> <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> </span>
                  Log in
              </span>

              <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                {{ form.email|attr:"placeholder:E-mail address"|attr:"type:email"|add_class:"input100 log_via_email" }}
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa-solid fa-at"></i>
                </span>
              </div>

              <div class="wrap-input100 validate-input" data-validate = "Password is required">
                  {{ form.password|attr:"placeholder:Password"|attr:"type:password"|add_class:"input100" }}
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                      <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
              </div>
              
              <div class="container-login100-form-btn">
                  <button class="login100-form-btn animate" type="submit">
                      <i class="fa-solid fa-greater-than"></i>
                      Log in
                  </button>
              </div>
            </form>
          </div>
        </form>
      </div>
  </section>
  <!-- Main container end -->

  <div class="d-block mt-5 mb-3 footer">
    <div class="text-center pt-2 ">
      <a class="fs-6" href="{% url 'password_reset' %}">
        Forgot Password?
      </a>
    </div>

    <div class="text-center pt-2 mb-3 footer">
        <a class="fs-6" href="{% url 'sign_up_page' %}">
            Need a new account? Sign up
            <i class="fa fa-long-arrow-right ms-1" aria-hidden="true"></i>
        </a>
    </div>
  </div>

</div>
<!-- Site container end -->




<!-- Toasts container start -->
<div class="toast-container bottom-0 start-50 translate-middle-x ">
  {% for message in messages %}
  <div class="toast hide_this fade text-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="false"> 
    <div class="toast-body">
        <i class="fa-regular fa-hand-peace"></i>&nbsp; {{ message|safe }}
    </div>
  </div>
  {% endfor %}
</div>

<div class="toast-container bottom-0 start-50 translate-middle-x mb-5 ">
  {% for field,errors in form.errors.items %}
      {% for error in errors %}
        <div class="toast text-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="false"> 
            <div class="toast-body">
              {{ error }}
            </div>
          <button type="button" class="btn-close ms-auto fs-6 mb-2 toast_dismiss" aria-label="Close"></button>
        </div>
      {% endfor %}
  {% endfor %}
</div>
<!-- Toasts container end -->




<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
<script type="text/javascript">

  $(document).ready(function(){
    
    // Fade In page
    $('.main-container').fadeIn(500).removeClass('d-none').addClass('d-flex');

    $('.email').keyup(function(){
      $(this).val($(this).val().toLowerCase());
    });

  });
        
</script>
</body>
</html>