{% extends "template.html" %}
{% load static %}
{% load widget_tweaks %}


{% block head_imports %}
    <link rel="stylesheet" href="{% static 'css/template_log_reg.css' %}">
    <script src="{% static 'js/login_page.js' %}" type="text/javascript"></script>
{% endblock %}


{% block navbar %}
<!-- Navbar start -->
{% url 'login_page' as the_url %}
{% include "navbar.html" with sites_context=sites_context active_site_name="Log in" active_site_url=the_url %}
<!-- Navbar end -->  
{% endblock %}


{% block content %}

<!-- Site container start -->
<div class="d-flex flex-column full_site_container">


  <!-- Main container start -->
  <section class="d-none flex-column my-auto pt-5 px-4 align-items-center justify-content-center main-container">
      <div class="insides">
        <form method="POST" id="main_form">
          {% csrf_token %}
          <div class="limiter d-flex flex-column gap-2">
            <form class="login100-form validate-form">
              <span class="login100-form-title">
                <span class="text-light fs-2 me-2 text-center"> <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> </span>
                  Log in
              </span>

              <div class="wrap-input100 validate-input">
                {{ form.email|attr:"placeholder:E-mail address"|attr:"type:email"|add_class:"input100 log_via_email" }}
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa-solid fa-at"></i>
                </span>
              </div>

              <div class="wrap-input100 validate-input">
                  {{ form.password|attr:"placeholder:Password"|attr:"type:password"|add_class:"input100" }}
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                      <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
              </div>
              
              <div class="container-login100-form-btn">
                  <button class="login100-form-btn animate" type="submit">
                      <i class="fa-solid fa-greater-than"></i>
                      Log in
                  </button>
              </div>
            </form>
          </div>
        </form>
      </div>
  </section>
  <!-- Main container end -->

  <div class="d-block mt-5 mb-3 footer">
    <div class="text-center pt-2 ">
      <a class="fs-6" href="{% url 'password_reset' %}">
        Forgot Password?
      </a>
    </div>

    <div class="text-center pt-2 mb-3 footer">
        <a class="fs-6" href="{% url 'sign_up_page' %}">
            Need a new account? Sign up
            <i class="fa fa-long-arrow-right ms-1" aria-hidden="true"></i>
        </a>
    </div>
  </div>

</div>
<!-- Site container end -->


<!-- Toasts container start -->
<div class="toast-container bottom-0 start-50 translate-middle-x">
  {% for message in messages %}
  <div class="toast fade hide_this align-items-center text-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="false"> 
    <div class="toast-body">
      <i class="fa-regular fa-hand-peace"></i>&nbsp {{ message|safe }}
    </div>
  </div>
  {% endfor %}

  {% for field,errors in form.errors.items %}
  {% for error in errors %}
    <div class="toast text-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="false"> 
        <div class="toast-body">
          {{ error }}
        </div>
      <button type="button" class="btn-close ms-auto fs-6 mb-3 toast_dismiss" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endfor %}
</div>
<!-- Toasts container end -->

{% endblock %}