{% extends "template.html" %}
{% load static %}
{% load widget_tweaks %}


{% block head_imports %}
    <link rel="stylesheet" href="{% static 'css/simple_pages.css' %}">
{% endblock %}


{% block content %}
<div class="d-flex flex-column align-items-center default_container main-container px-4">

        <form method="post" class="container-fluid d-flex flex-column align-items-center gap-3 p-0 my-auto" id="main_form" >
            {% csrf_token %}

            <!-- Go back section start-->
                <div class="mx-auto go_back_container">
                    <button class="text-light highlight_link go_back fs-5" onclick="history.back()">
                    <i class="fa-solid fa-arrow-left"></i>&nbsp; Go back
                    </button>
                </div>
            <!-- Go back section end-->

            
            <span class="text-light fs-1 text-center"><i class="fa-solid fa-paper-plane"></i></span>
            <span class="pointing-to-mail text-light fs-3 text-center">Reset your password</span>
            <span class="pointing-to-mail text-muted fs-5 text-center">Your e-mail address:</span>
            {{form.email|add_class:"form-control"|attr:"placeholder:E-mail"|attr:"required"}}
            <button type="submit" class="btn btn-dark btn-lg animate input_submit mt-2">Send request</button>
        </form>

</div>

{% include "toasts.html" %}
{% endblock %}