{% extends "template.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head_imports %}
    <link rel="stylesheet" href="{% static 'css/simple_pages.css' %}">
{% endblock %}


{% block content %}
<div class="d-flex flex-column align-items-center default_container main-container px-4">

    <div class="container-fluid d-flex flex-column align-items-center gap-3 px-0 my-auto pw_reset" id="main_form" >
        <span class="text-light fs-1 text-center"><i class="fa-solid fa-paper-plane"></i></span>
        <span class="pointing-to-mail text-light fs-3 text-center">Password has been changed</span>

        <!-- Go back section start-->
          <a class="text-light highlight_link go_back fs-5" href="{% url 'downloader_page' %}">
          <i class="fa-solid fa-arrow-left"></i>&nbsp; Main Page
          </a>
        <!-- Go back section end-->
    </div>
  
</div>

{% include "toasts.html" %}
{% endblock %}