{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube helper</title>

    <!-- Imports start -->
      <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/overall.css' %}">  
      <link rel="stylesheet" href="{% static 'css/template_log_reg_style.css' %}">


      <script src="https://kit.fontawesome.com/5cd37e3dba.js" crossorigin="anonymous"></script>
      <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>


      <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Imports end -->
</head>
<body>


<!-- Site container start -->
<div class="d-flex flex-column full_site_container">


<!-- Navbar start -->
{% url 'sign_up_page' as the_url %}
{% include "navbar.html" with sites_context=sites_context active_site_name="Sign up" active_site_url=the_url %}
<!-- Navbar end -->  


  <!-- Main container start -->
  <section class="d-none flex-column my-auto pt-5 px-4 align-items-center justify-content-center main-container">
    <div class="insides">
        <form method="POST" id="registerForm">
          {% csrf_token %}
          <div class="limiter d-flex flex-column gap-1">
            <form class="login100-form validate-form">
              <span class="login100-form-title">
                <span class="text-light fs-2 me-2 text-center"> <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i> </span>
                  Sign up 
              </span>

              <div class="wrap-input100 validate-input">
                  {{ form.username|attr:"placeholder:Username"|add_class:"input100 username" }}
                <span class="focus-input100"></span>
                  <span class="symbol-input100">
                      <i class="fa fa-user" aria-hidden="true"></i>
                  </span>
              </div>

              <div class="wrap-input100 validate-input mt-3" data-validate = "Valid email is required: ex@abc.xyz">
                    {{ form.email|attr:"placeholder:E-mail"|add_class:"input100 email"|attr:"id:emailField"|attr:"required" }}
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                  </span>
              </div>

              <div class="wrap-input100 validate-input" data-validate = "Password is required">
                  {{ form.password1|attr:"placeholder:Password"|add_class:"input100" }}
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                      <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
              </div>

              <div class="wrap-input100 validate-input" data-validate = "Password is required">
                  {{ form.password2|attr:"placeholder:Confirm Password"|add_class:"input100" }}
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                      <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
              </div>

              
              <div class="container-login100-form-btn">
                  <button class="login100-form-btn animate"  onclick="sendForm()" type="button">
                    <i class="fa-solid fa-greater-than"></i>
                    Sign up
                  </button>
                  <button class="d-none" type="submit" id="submitBtn"></button>
              </div>
            </form>
          </div>
        </form>   
      </div>
  </section>
  <!-- Main container end -->


  <div class="d-block mt-5 mb-3 footer">
    <div class="text-center mt-5 mb-3">
      <a class="fs-6" href="{% url 'login_page' %}">
          Already have an account? Log in 
          <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
      </a>
    </div>
  </div>


</div>
<!-- Site container end -->



<!-- Toasts container start-->
<div class="toast-container bottom-0 start-50 translate-middle-x mb-5 ">
  {% for field,errors in form.errors.items %}
      {% for error in errors %}
        <div class="toast text-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="false"> 
            <div class="toast-body">
              {{ error }}
            </div>
          <button type="button" class="btn-close ms-auto fs-6 mb-2 toast_dismiss" aria-label="Close"></button>
        </div>
      {% endfor %}
  {% endfor %}
</div>
<!-- Toasts container end -->



<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function(){

    // Fade In page
    $('.main-container').fadeIn(500).removeClass('d-none').addClass('d-flex');

});



document.addEventListener("DOMContentLoaded", function () {
  var form = document.getElementById("registerForm"); // Replace with your actual form ID
  form.addEventListener("submit", sendForm);
});



function sendForm(event) {
  event.preventDefault();

  var emailField = document.getElementById("emailField");
  emailField.value = emailField.value.toLowerCase();

  var form = event.target; 
  form.submit();
}


</script>
</body>
</html>