{% extends "simple_template.html" %}
{% load widget_tweaks %}

{% block navbar %}

<!-- Navbar start -->
{% url 'youtube_to_spotify' as the_url %}
{% include "navbar.html" with sites_context=sites_context active_site_name="From Youtube to Spotify" active_site_url=the_url %}
<!-- Navbar end -->   

{% endblock %}

{% block content %}

    <div class="container-fluid d-flex flex-column align-items-center gap-5 p-0 my-auto pb-3">


            {% if not_auth %}

            <form method="post" class="container-fluid d-flex flex-column align-items-center gap-4 p-0 pb-lg-3" id="main_form" >
                {% csrf_token %}

                <span class="text-light fs-1 text-center"><i class="fa-brands fa-spotify"></i></span>
                <span class="pointing-to-mail text-light fs-1 text-center">Transfer Youtube playlist to Spotify</span>
                <i class="fa-solid fa-chevron-down text-light fs-3 mt-1"></i>

                <button type="submit" class="d-flex align-items-center sp_login gap-3 animate">
                    <span class="text-light fs-1 text-center"><i class="fa-brands fa-spotify" style="color: #1DB954;"></i></span>
                    Login with Spotify
                </button>
            
            </form>

            {% else %}
        
            <form method="post" class="container-fluid d-flex flex-column align-items-center zoom gap-3 p-0 pb-lg-3" id="main_form" >
                {% csrf_token %}

                <span class="text-light fs-1 text-center"><i class="fa-brands fa-spotify"></i></span>
                <span class="pointing-to-mail text-light fs-2 text-center">Transfer playlist to Spotify</span>
                <span class="pointing-to-mail text-muted fs-5 text-center">Playlist url:</span>
                {{ form.url|add_class:"form-control"|attr:"placeholder:https://www.youtube.com/playlist?list=PLAYLIST_ID"|attr:"required"}}
                <button type="submit" class="btn btn-dark btn-lg animate input_submit mt-3">Transfer</button>
            
            </form>

            {% endif %}
        
    </div>

{% endblock %}